/* CSS file by Roman Babushkin */

#wrapper {  margin-left: auto;
            margin-right: auto;
            width: 80%;



         }
body {     background-color:aliceblue;
           /* color:darkorange; aliceblue */
    }

h2 {    background-color: antiquewhite;
        text-align: center;}


/**************   Navigation    ****************/

nav {
	    font-weight: bold;
    	background-color: #FFD3C0;
}

nav a {

	text-decoration: none;
	padding: 20px;
	display: block;
    color: darkblue;

}

nav ul {

    	list-style-type: none;
    	margin: 0;
       	overflow: hidden;
    	background-color: #blue;
        }

nav ul a {

    	text-decoration: none;
        }

nav a:hover {

	    color: #FFFFFF;
        background-color: #FFB89A;
    }

li {

	margin-left: 10px;
	margin-right: auto;
    	float: left;
}

li a {


    	text-align: center;
    	padding: 11px 11px;
    	text-decoration: none;
}




footer {text-align: center}

table { margin: auto;
        border: 5px solid #a4bde5;
        width:  auto;
        border-spacing: 0; }

td, th { padding: 0.5em;
         border-style: none;
         font-family: Arail, sans-serif; }

caption { font-family: Verdana, sans-serif;
          font-weight: bold;
          font-size: 1.2em;
          padding-bottom: 0.5em; }

tr:nth-of-type(even) {background-color: beige }

tr:first-of-type { background-color: #a4bde5;
                   color: #eaeaea; }

cite { float: right;}

blockquote { text-align: center;}

#ship {
        margin-left: 30px; }

#java {

        text-align: left;
        background-color: white;
        padding: 20px;
        margin-left: 30px;
        color: brown;
        width: 600px;
        }

p   { font-family: "Times New Roman", serif;
        text-indent: 3em;
        font-size: 1.1em;
    }

/* Form display settings */

form    { background-color: lightgrey;
          font-family: Arial, sans-serif;
          padding: 10px;
          width: 500px;

           }

fieldset {  width: 400px;
            border: 2px ridge #ddd0d0;
            padding: 10px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            }

legend  { font-family: Georgia, "Times New Roman", serif;
          font-weight: bold; }

#label1   { font-family: Arial, sans-serif;
          float: left;
          width: 47px;
          clear: left;
          text-align: left;
          padding-right: 20px;
          margin-top: 7px;
          padding-left: 5px; }

input, textarea { margin-top: 5px;
                  padding-left: 10px;
                  margin-left: 10px;
                }

.error {    font-family: Arial, sans-serif;
            font-style: italic;
            font-size: .90em;
            color: #FF0000;
            margin-left: 1.em;

        }

/* Custom settings   */

#custom        {  margin-top: 5px;
                  padding-left: 10px;
                  margin-left: 10px;
                }

#custom1       {
                  margin-left: 300px;
                }

#label00   {

            font-family: Arial, sans-serif;
            margin-top: 5px;
            padding-left: 10px;
            margin-left: 10px;
            text-align: left;
           }











